.container-form ul li{
  margin: 3px;
}
.container-form ul li label{
  display: flex;
}

.container-form ul li input{
  border: none;
  border-bottom: 1px solid white;
  outline: none; 
  background-color: transparent;
}

.text-area textarea{
  margin: 10px 9px;
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
  outline: none; 
  background-color: transparent;
}

@media(max-width:650px){
  .container-form ul li input{
    width: 170px;
  }
}