.showcase{
  background: url('../../../public/img/tech-red.jpg') no-repeat center/cover;
}

.showcase .content{
  width: 30%;
  padding: 90px 0 0 20px;
  color: #fff;
  position: relative;
  right: 30%;
}

.block{
  position: absolute;
  opacity: .9;
}
.upper-message{
  position: relative;
}