.showcase-principal{
  background: url('../../../public/img/tech-red.webp') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}




.block{
  position: absolute;
  opacity: .9;
}
.upper-message{
  position: relative;
}

.show{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.shadow{
  opacity: 0;
}
